body, a {
    color: white;
    text-decoration: none;
    background: black;
    font-family: "Montserrat", sans-serif;;
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-wrapper {
    margin: auto;
    width: 80%;
    height: 100%;
    max-width: 1200px;
    min-width: 270px;
}

/*FIRST SECTION*/

.first-section {
    height: 100vh;
}

.top-section {
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

.logo-img {
    width: 60px;
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    position: relative;
    cursor: pointer;
}

.menu-item .wee {
    height: 2px;
    width: 100%;
    background-color: #A972CB;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.75s;
}

.menu-item h6 {
    margin: 0;
    padding: 0 1rem 1.5rem;
    font-size: 1rem;
    color: white;
    transition: 0.75s;
    font-weight: 500;
    cursor: pointer;
}

.menu-item:hover h6 {
    color: #A972CB;
}

.current-menu-item h6 {
    color: #A972CB;
}

.content-block {
    z-index: 101;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 185px;
    text-align: center;
}

.main-title {
    font-weight: bold;
    font-size: 28px;
}

.main-subtitle {
    font-size: 24px;
}

.pulse {
    --color: #a972cb; /* Default color */
    --hover: #c29de0; /* Hover color, adjusted hue */
    background: none;
    border: 2px solid var(--color);
    color: white;
    font: inherit;
    line-height: 1;
    padding: 1em 2em;
    margin: 0.5em;
    transition: 0.25s;
    cursor: pointer;
}

.pulse:hover,
.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
    border-color: var(--hover);
    color: #fff;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
    100% {
        box-shadow: 0 0 0 1em transparent;
    }
}

.first-section spline-viewer{
    top: 0;
    position: absolute;
}

/*END OF FIRST SECTION*/

/*SECOND SECTION*/

.second-section {
    background: linear-gradient(#000000, #050C27);
    width: 100%;
    padding: 60px 0;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.secondary-title {
    font-weight: bold;
    font-size: 24px;
}

.secondary-title.purple {
    color: #a972cb;
}

.secondary-subtitle {
    font-size: 20px;
}

.stepper-wrapper {
    width: 100%;
    flex-wrap: wrap;
    margin-top: 60px;
}

.circle {
    border-radius: 50%;
    border: 2px solid #a972cb;
    color: #a972cb;
    height: 120px;
    width: 120px;
    font-size: 24px;
    margin-bottom: 15px;
}

.step {
    flex-direction: column;
}

.step-title {
    font-size: 16px;
    color: #a972cb;
    text-align: center;
}

.arrow {
    width: 120px;
    height: 1px;
    background-color: #a972cb;
    margin-bottom: 60px;
}

.small-text {
    margin-top: 60px;
    font-size: 12px;
    font-weight: normal;
}

/*END OF SECOND SECTION*/


/*THIRD SECTION*/

.third-section {
    background-color: #050C27;
}

.header-card {
    position: relative;
    border-radius: 16px;
    border: 3px solid #a972cb;
    padding: 2rem;
    margin: 0 4rem 0 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex: 0 0 320px
}

.header-card p {
    margin: 0;
    font-size: .8rem
}

@media (max-width:1200px) {
    .header-card {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        flex: 0;
        width: 110px;
        margin-right: 1rem
    }

    .header-card br {
        display: none
    }

    .header-card a::after {
        display: none
    }
}

.header-card-title {
    font-size: 1.6rem;
    margin: 0 0 .5rem 0;
    font-weight: normal;
}

.popular-breeds {
    box-sizing: content-box;
    display: flex;
    width: calc(100vw - 71px);
    padding: 2rem 0
}

@media (max-width:1200px) {
    .popular-breeds {
        scrollbar-color: #201c29;
        scrollbar-width: 10px;
        width: 100%;
        padding-bottom: 2rem;
        overflow-x: scroll;
        scroll-snap-points-x: repeat(250px);
        scroll-snap-type: mandatory
    }

    .popular-breeds::-webkit-scrollbar {
        width: 10px;
        height: 10px
    }

    .popular-breeds::-webkit-scrollbar-thumb {
        background: #201c29;
        border-radius: 10px;
        box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25)
    }

    .popular-breeds::-webkit-scrollbar-track {
        background: linear-gradient(to right, #201c29, #201c29 1px, #17141d 1px, #17141d)
    }

    .popular-breeds .mini-card {
        scroll-snap-align: start
    }
}

@media (max-width:1200px) {
    .popular-breeds {
        padding-left: 0
    }
}

.popular-header {
    margin: 3rem 0
}

.popular-header .edit-popular {
    position: absolute;
    top: 5px;
    right: 5px
}

.mini-card-grid {
    scrollbar-color: #201c29;
    scrollbar-width: 10px;
    scrollbar-gutter: always;
    padding: 3rem;
    display: flex;
    overflow-x: scroll;
}

.mini-card-grid::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

.mini-card-grid::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25)
}

.mini-card-grid::-webkit-scrollbar-track {
    background: linear-gradient(to right, #201c29, #201c29 1px, #17141d 1px, #17141d)
}

@media (max-width:1200px) {
    .mini-card-grid {
        overflow-x: visible
    }
}

.mini-card {
    min-width: 300px;
    min-height: 350px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0
}

.mini-card h2 {
    font-size: 20px;
    margin: .25rem 0;
}

.mini-card:not(:first-child) {
    margin-left: -130px
}

.mini-card .tags a {
    font-size: .5rem
}

.mini-card:focus-within, .mini-card:hover {
    transform: translate(0, -1rem)
}

.mini-card:focus-within ~ .mini-card, .mini-card:hover ~ .mini-card {
    transform: translateX(130px)
}

@media (max-width:1200px) {
    .mini-card {
        min-width: 220px
    }

    .mini-card:not(:first-child) {
        margin-left: -30px
    }

    .mini-card:hover {
        transform: translate(0, -1rem)
    }

    .mini-card:hover ~ .mini-card {
        transform: translateX(30px)
    }
}

@media (max-width:800px) {
    .mini-card {
        min-width: 190px
    }

    .mini-card:not(:first-child) {
        margin-left: -10px
    }

    .mini-card:hover {
        transform: translate(0, -1rem)
    }

    .mini-card:hover ~ .mini-card {
        transform: translateX(10px)
    }
}

.mini-breed-subhead {
    font-size: 14px;
    margin: 0 0 1rem 0
}

.mini-breed-card-header {
    margin-bottom: 15px;
}

.mini-breed-meta {
    font-size: 14px
}

.mini-breed-meta img {
    width: 100%;
    margin-top: 10px;
    border-radius: 16px;
}

.card-description {
    margin: 0;
    padding: .5rem 0 1rem;
    line-height: 1.8;
}

@media (max-width:800px) {
    .card-description {
        margin: 0
    }
}

/*END OF THIRD SECTION*/


/*FOURTH-SECTION*/

.fourth-section {
    padding: 60px 0;
    background-color: #050C27;
    width: 100%;
}

/*END OF FOURTH SECTION*/

/*FIFTH-SECTION*/

.fifth-section {
    padding: 80px 0 0;
    background: linear-gradient(#050C27, #000000);
    width: 100%;
}

.image-text-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-block {
    width: 50%;
    min-width: 270px;
    flex-direction: column;
    text-align: center;
}

.text-block .secondary-title {
    margin-bottom: 30px;
}

video {
    width: 320px;
}
/*END OF FIFTH SECTION*/

